*{
    margin:0;
    padding:0;
}
body{
    background: rgb(2,0,36);
    background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(9,102,121,1) 35%, rgba(0,255,23,1) 100%);
    min-height: 100vh;
}
.contenu{
    width:50vh;
    margin:auto;
    background-color: bisque;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}
#portrait{
    display:block;
    margin:auto;
    margin-bottom:1rem;
    width: 10vh;
    border-radius: 1rem;
}

#citation{
    width:75%;
    margin:auto;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 2rem;
    font-weight: 700;
    font-style: italic;
}

#auteur{
    color:gray;
    margin-left: 80%;
    font-size: 0.8rem;
}

#nouveau{
    background: rgb(255,57,39);
    background: linear-gradient(90deg, rgba(255,57,39,1) 0%, rgba(255,147,106,1) 100%);
    width:50vh;
    margin:auto;
    margin-top:0.5rem;
    line-height: 3rem;
    background-color: blueviolet;
    text-align: center;
    font-size: 1.2rem;
}