*{
    margin:0;
    padding:0;
}
body{
    min-height: 100vh;
}
header{
    display:flex;
    background-color: burlywood;
    height: 4rem;
}
h1{
    margin: auto;
}
section{
    display:flex;
    align-items: center;
    justify-content: center;
}
#principal>div{
    display:flex;
    justify-content: space-around;
}
button{
    width: 2.8rem;
    margin:0.2rem;
    height: 4rem;
    box-shadow: 0.3rem 0.3rem 0.3rem aqua;
    border-radius: 0.5rem;
    font-size: 1rem;
}
button:hover{
    background-color: gray;
    color:white;
    box-shadow: 0.3rem 0.3rem 0.3rem red;
}
.containerJeu{
    flex-direction: row;
    align-items: center;
    font-size: 2rem;
}
h3{
    display:flex;
    justify-content: center;
}
img{
    padding-left: 3rem;
}